@use "../../styles/colors" as *;
@use "../../styles/variables" as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
    padding: $spacing-lg;
  }
}
